.banner-container {
  position: relative;
  margin-bottom: 5px;

  .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;

    clear: both;
    overflow: hidden;
    min-height: 120px;
    position: relative;

    .titlebar {
      padding: 5px 15px;

      .title span {
        font-size: xx-large;
        font-weight: bolder;
        margin-right: 10px;
      }

      .subtitle span {
        font-size: large;
        font-weight: bold;
      }

      .buttons {
        //position: absolute;
        //bottom: 5px;
        //left: 5px;
      }
    }
    .download {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 5px 15px;
      text-align: right;
      div.progress {
        font-size: xx-large;
        font-weight: bolder;
        span {
          margin-right: 10px;
        }
      }
      div.eta {
        font-size: large;
        font-weight: bold;
      }
    }
  }
  .banner-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    overflow: hidden;
    min-height: 120px;
    max-height: 120px;
    img {
      //animation: MoveUpDown 120s linear infinite;
      width: 100%;
      margin-top: -10%;
    }
  }
  .banner-dimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    min-height: 120px;
    max-height: 120px;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    margin-top: -45%;
  }
  50% {
    margin-top: 0px;
  }
}
