.banner-container {
  position: relative;

  .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;

    clear: both;
    overflow: hidden;
    min-height: 120px;
    position: relative;

    .titlebar {
      padding: 5px 15px;

      .title span {
        font-size: xx-large;
        font-weight: bolder;
        margin-right: 10px;
      }

      .subtitle span {
        font-size: large;
        font-weight: bold;
      }

      .buttons {
        //position: absolute;
        //bottom: 5px;
        //left: 5px;
      }
    }
  }
  .banner-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    overflow: hidden;
    min-height: 120px;
    max-height: 120px;
    img {
      width: 100%;
      margin-top: -35%;
    }
  }
  .banner-dimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    min-height: 120px;
    max-height: 120px;
  }
}
