span.spacer {
  margin-right: 5px;
  margin-left: 5px;
}

.release {
  .title span.title {
    font-size: xx-large;
    font-weight: bolder;
    margin-right: 10px;
  }
}

div.popular {
  div.header {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 3px;
  }
  div.entry:nth-child(odd) {
    background-color: #1f1f1f;
  }
  div.entry {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%; /* or width:100% if you want the spans to take all available space */

    span.title {
      flex: 1;
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 350px;
      font-size: 18px;
    }

    span.number {
      white-space: nowrap;
      text-align: right;
      font-size: 18px;
      width: 50px;
      padding-right: 15px;
    }
  }
}
