table.vertical-table {
  width: 100%;

  thead {
    tr {
      th,
      td {
        padding: 5px 5px;
      }
    }
  }

  td,
  th {
    padding: 2px;
  }

  thead tr {
    background-color: #222222;
  }
  thead td {
    font-weight: bolder;
  }

  thead td.number {
    width: 30px;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }

  td.date {
    width: 125px;
  }

  td.user {
    width: 125px;
  }
  td.small {
    width: 125px;
  }
  td.smaller {
    width: 75px;
  }
  td.truncate {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th.actions,
  td.actions {
    width: 175px;
  }
  tr:nth-child(even) {
    background-color: #222222;
  }
}
table.horizontal-table {
  th {
    text-align: left;
    width: 200px;
    vertical-align: top;
  }
  tr:nth-child(odd) {
    background-color: #222222;
  }
}
