a {
  color: white;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

:root {
  --height: 200px;
  --width: 136px;
}

@media (max-width: 450px) {
  :root {
    --height: 150px;
    --width: 100px;
  }
}

.searchCover {
  position: relative;
  height: var(--height);
  width: var(--width);
  margin: 5px;
  display: flex;
  .image {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    object,
    img {
      height: var(--height);
      width: var(--width);
    }
  }
  .title {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 2px;
  }
  .release {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 2px;
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }
  .icon {
    position: absolute;
    bottom: 5px;
    right: 2px;
    z-index: 101;
    padding: 2px;
  }
  .description {
    position: absolute;
    display: none;
    top: 28px;
    bottom: 28px;
    right: 0px;
    left: 0px;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    overflow: hidden;
    padding: 2px;
  }
}
.searchCover:hover {
  .description {
    display: block;
  }
}

.searchItem {
  max-width: 100%;
  cursor: pointer;
  padding: 3px 1px;
  span {
    flex-grow: 1;
    max-width: '100%';
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.searchItem:hover {
  background-color: #363636;
}

.notice {
  width: 300px;
  .title {
    font-weight: bold;
  }
  .title,
  .message {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
