$height: 120px;

.banner-container {
  position: relative;
  margin-bottom: 5px;

  .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;

    clear: both;
    overflow: hidden;
    min-height: $height;
    position: relative;

    .titlebar {
      padding: 5px 15px;

      .title {
        max-width: 1000px;
        overflow: hidden;
        white-space: nowrap;
        span {
          font-size: xx-large;
          font-weight: bolder;
          margin-right: 10px;
        }
      }

      .subtitle span {
        font-size: large;
        font-weight: bold;
      }

      .buttons {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 10px 15px;
      }
    }
    .download {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 10px 15px;
      text-align: left;
      font-weight: bold;
    }
  }
  .banner-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    overflow: hidden;
    min-height: $height;
    max-height: $height;
    img {
      //animation: MoveUpDown 120s linear infinite;
      width: 100%;
      margin-top: -10%;
    }
  }
  .banner-dimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    min-height: $height;
    max-height: $height;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    margin-top: -45%;
  }
  50% {
    margin-top: 0px;
  }
}
