.medium {
    position: relative;
}
.medium.small {
    height: 295px;
    width: 195px;
    margin: 0.3rem;
    float: left;
    /*border: 1px solid white;*/
}
.medium .cover {
    height: 295px;
    width: 195px;
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
}
.medium .cover img {
    height: 295px;
    width: 195px;
}
.medium .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 105;
}
.medium .footer .primary {
    font-weight: bold;
}
.medium .footer .secondary {
    font-weight: normal;
    font-size: .8rem;
}
.medium .header {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 110;
}
.medium .header .primary {
    font-weight: bold;
}
.medium .icons {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    z-index: 115;
    color: white;
    padding: 2px;
}
.medium .hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}
.medium .hover .text {
    position: absolute;
    color: white;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.medium .hover:hover .text {
    display: block;
}
.medium a:link {
    text-decoration: none;
}
.medium a:hover {
    text-decoration: none;
}
.medium a:visited {
    text-decoration: none;
}
.medium a:active {
    text-decoration: none;
}

.medium.large {
    margin-top: 5px;
    min-height: 400px;
    position: relative;
}
.medium.large .menu {
    position: absolute;
    top: 0;
    right: -200px;
    bottom: 0;
    /*border: 2px solid white;*/
}
.medium.large .main {
    /*width: 1000px; !* TODO: figure out break points *!*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-right: 200px;
    padding: 2px;
    /*border: 2px solid gray;*/
    float: left;
}

.medium.large .titlebar {

}
/*.medium.large .titlebar:after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/
.medium.large .title {
    font-size: xx-large;
    font-weight: bolder;
}
.medium.large .buttons {
}
/*.medium.large .cover img {*/
/*    height: 220px;*/
/*    width: 150px;*/
/*}*/
.medium.large .background {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 500px;
    width: auto;
    /*border: 1px solid gray;*/
    background-position: 25% 50%;
    background-size: cover;
    z-index: -2;
}
.medium.large .menu .background {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.medium.large .overlay {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 500px;
    width: auto;
    /*background-color: rgba(0,0,0,0.75);*/
    background:
            /*linear-gradient(to right, rgba(18,18,18,1), rgba(18,18,18,0.75)),*/
            linear-gradient(to top, rgba(18,18,18,1), rgba(18,18,18,0.50));
    /*background: radial-gradient(ellipse farthest-side at center, transparent, #121212);*/
    z-index: -1;
}

.medium.large .episodes table {
    width: 100%;
}

.medium.large .cover-sm {
    height: 295px;
    width: 200px;
    /*z-index: 100;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    padding: 5px;
    margin-top: 10px;
}

.medium.large .cover-sm img {
    width: 200px;
}

.medium.large .background-sm {
    width: 200px;
    padding: 5px;
    margin-top: 10px;
}

.medium.large .background-sm img {
    width: 200px;
}
.episodes table td, .episodes table th {
    padding: 2px;
}
.episodes table thead td {
    font-weight: bold;
}

.episodes table thead td.number {
    width: 50px;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.episodes table td.date {
    width: 125px;
}

.episodes table th.actions, .episodes table td.actions {
    width: 250px;
}
.episodes table tr:nth-child(even) {
    background-color: #222222;
}

.details table th {
    text-align: left;
    width: 200px;
    vertical-align: top;
}
.details table tr:nth-child(odd) {
    background-color: #222222;
}
