.medium.large {
  margin-top: 5px;
  min-height: 400px;

  .main {
  }

  .buttons {
  }
  .details {
    .images {
      //position: absolute;
      //top: 0px;
      //right: 0px;

      .cover-sm {
        height: 100px;
        //position: absolute;
        //right: 180px;
        //top: 0px;
        float: left;
        padding: 5px;

        img {
          height: 100px;
        }
      }

      .background-sm {
        height: 100px;
        //position: absolute;
        //right: 0px;
        //top: 0px;
        float: left;
        padding: 5px;

        img {
          height: 100px;
        }
      }
    }
  }
  .files {
    td.name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis ellipsis;
      div {
        width: 100px;
      }
      div.media {
        display: none;
        padding-left: 10px;
      }
    }
    td.name:hover {
      div.media {
        display: inherit;
      }
    }
  }
}

.seasons {
  padding-bottom: 8px;
}
