$height: 120px;

.banner-container {
  position: relative;
  margin-bottom: 5px;

  .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;

    clear: both;
    overflow: hidden;
    min-height: $height;
    position: relative;

    .titlebar {
      padding: 5px 5px;

      time {
        color: #cccccc;
        font-size: medium;
        margin-top: 17px;
      }

      .title {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        span {
          font-size: xx-large;
          font-weight: bolder;
          margin-right: 5px;
          flex: 1;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .subtitle {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        span {
          color: #cccccc;
          font-size: medium;
          flex: 1;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 375px;
        }
      }

      .buttons {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 0px;
      }
    }
    .download {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 5px 8px;
      text-align: left;
      font-weight: bold;
    }
  }
  .banner-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    overflow: hidden;
    min-height: $height;
    max-height: $height;
    img {
      //animation: MoveUpDown 120s linear infinite;
      width: 100%;
      margin-top: -10%;
    }
  }
  .banner-dimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    min-height: $height;
    max-height: $height;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    margin-top: -45%;
  }
  50% {
    margin-top: 0px;
  }
}
