$height: 120px;

.banner-container {
  position: relative;

  .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;

    clear: both;
    overflow: hidden;
    min-height: $height;
    position: relative;

    .titlebar {
      .title {
        // display: inline-flex;
        // flex-flow: row nowrap;
        display: flex;
        max-width: 100%;
        min-width: 0;
        margin-left: 8px;
        margin-right: 8px;
        span {
          font-size: x-large;
          font-weight: bolder;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          // text-shadow: black 1px 1px 1px;
        }
        .extra {
          font-size: medium;
          font-weight: normal;
          color: #cccccc;
          margin-left: 8px;
        }
      }

      .subtitle {
        // display: inline-flex;
        // flex-flow: row nowrap;
        max-width: 100%;
        margin-left: 10px;
        span {
          // color: #cccccc;
          font-size: medium;
          flex: 1;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 375px;
        }
      }
    }
    .download {
      position: absolute;
      bottom: 10px;
      left: 8px;
      text-align: left;
      font-weight: bold;
    }

    .actions {
      position: absolute;
      bottom: 10px;
      right: 8px;
      overflow: hidden;
    }
    .progressbar {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 4px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 105;
      overflow: auto;
      .progress {
        height: 4px;
        width: 0%;
        background-color: #ff0000;
        z-index: 106;
      }
    }
    .multibar {
      position: absolute;
      bottom: 5px;
      height: 4px;
      width: 0%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 106;
      width: 100%;
      display: flex;
      overflow: auto;
      .file {
        height: 4px;
        width: 100%;
        background-color: #0000ff;
      }
      .active {
        background-color: #00ff00;
      }
    }
  }
  .banner-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    overflow: hidden;
    min-height: $height;
    max-height: $height;
    background-position: center 20%;
    background-size: cover;
  }
  .banner-dimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    min-height: $height;
    max-height: $height;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    margin-top: -10%;
  }
  50% {
    margin-top: -20%;
  }
}
