$height: 120px;

.banner-container {
  position: relative;

  .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;

    clear: both;
    overflow: hidden;
    min-height: $height;
    position: relative;

    .titlebar {
      padding: 5px 5px;

      time {
        color: #cccccc;
        font-size: medium;
        margin-top: 17px;
      }

      .title {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        margin-left: 8px;
        margin-right: 8px;
        span {
          font-size: x-large;
          font-weight: bolder;
          margin-right: 12px;
          flex: 1;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .subtitle {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        margin-left: 10px;
        span {
          color: #cccccc;
          font-size: medium;
          flex: 1;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 375px;
        }
      }
    }
    .download {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 5px 8px;
      text-align: left;
      font-weight: bold;
    }

    .actions {
      position: absolute;
      bottom: 3px;
      right: 8px;
      overflow: hidden;
      height: 28px;

      .buttonMap {
        padding: 0;
        float: right;
        button {
          padding: 0px 2px;
        }
      }
      .icons {
        float: right;
        // height: 35px;
        .MuiChip-root {
          margin-left: 2px;
        }
      }
    }
  }
  .banner-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    overflow: hidden;
    min-height: $height;
    max-height: $height;
    img {
      //animation: MoveUpDown 120s linear infinite;
      width: 100%;
      margin-top: -20%;
    }
  }
  .banner-dimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    min-height: $height;
    max-height: $height;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    margin-top: -45%;
  }
  50% {
    margin-top: 0px;
  }
}
